*{
	text-decoration: none;
}


.bar.bar-stable
{
	background-color: #23263C;
}
.bar.bar-stable .title{
	color: #FFFFFF;
}
.item.item-divider{
  background-color: #FFFFFF;
  color: #000000;
  /*border-style: none;*/

}

.card{
  background-color: #FFFFFF;
  padding-bottom: 10px;
  border-bottom: 9px solid #D91B5B;
  box-shadow: none;
}

.scroll-content{
  background-color: #F0F1F2;
}

.row.Designer{
	background-image: url("../images/Designer-icon.png");
}

.row.Manager{
background-image: url("../images/Manager-icon.png");
}

.row.Developer{
background-image: url("../images/Developer-icon.png");
}
.row.Developer, .row.Designer, .row.Manager{
padding-top: 5px;
background-position:top right;
background-size: 34px 34px;
background-repeat: no-repeat;
padding-bottom: 20px;
}
.col-25.Developer, .col-25.Designer, .col-25.Manager{
text-align: center;
display: block;
}
.item.item-divider .in-progess{
	background:#D91B5B;
   color:#FFFFFF ;
   border-radius: 30px;
   -webkit-border-radius: 5px;
   padding: 10px;
   margin: 5px;

}
.uncompleted{
	display:none;

}
.completed{
	background:#009344;
   color:#FFFFFF ;
   border-radius: 30px;
   -webkit-border-radius: 5px;
   display:inline-block;
   padding: 10px;
   margin: 5px;
}
.in-progess p, .uncompleted p, .completed p{
	color: white;
}

.button .icon{


}
a.button{
	background:#D91B5B;
   color:#FFFFFF ;
   border-radius: 30px;
   -webkit-border-radius: 5px;
   display:inline-block;
   padding-top:5px;
   padding-bottom:5px;
   padding-right:10px;
   margin-left: 10px;
}


.challenge-card
{
    text-decoration: none;
}


.col.attempted-button-div,
.col.delegate-button-div{
  background:#D91B5B;
   color:#FFFFFF ;
   border: 1px solid #D91B5B;
   border-radius: 20px;
   -webkit-border-radius: 5px;
   display:inline-block;
   width: 5em;
   height: 2.5em;
   -webkit-font-smoothing: antialiased;
   padding-right: 10px;
   margin-left: 10px;
   text-align: center;
   text-decoration: none;

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #FFFFFF;
}


h2, .item h2, .item-content h2{
text-transform: uppercase;
font-weight: bold;
padding-bottom: 5px;
}
#user_name, #task_name, #challenge_name{
	color: #D91B5B;
	display: inline;
}
.item-complex.item-icon-right .item-content, .item-avatar{
	padding-top: 25px;
	padding-bottom: 5px;
}

.item h3, p, .item-content, .item-content p{
	overflow: initial;
    white-space: initial;
    text-transform: none;
    display: inline-block;
}
.backgroundImage{
	background-image: url("../images/congrats_page.png");
	background-size: cover;
}
.bar .button span {
	color:white;
}

.bar-stable .button.button-clear{
	color:white;
}

.resume-pic img{
border-radius: 100px;
background-image: url("");
display: block;
background-size: cover;
height: 200px;
width: 200px;
text-align: center;
background-position: center;
margin-left: 65px;
}

.resume-userInfo{
	text-align: center;
}

.rating progress{
	text-align: left;
}
progress{
	text-align: left;
}
.resume-row{
	text-align: center;
}
