<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{challenge.name}}">
    <ion-content class= "completedTeamPage" ng-if="challenge.statusSlug == 'completed'">
        <div class="backgroundImage"></div>
    </ion-content>
    <ion-content class="padding" ng-if="challenge.statusSlug != 'completed'">
        <div class = "row"><p>{{challenge.description}}</p></div>
        <div class = "row">
            <ion-list>
                <ion-item class="tem-icon-right" ng-repeat="task in tasks" type="item-text-wrap" href="#">
                    <div class = "row">
                        <h2>Task {{task.taskNumber}} - {{task.name}}</h2>
                    </div>
                    <div class = "row">
                        <p>{{task.description}}</p>
                    </div>
                    <div class = "{{task.skills}}"></div>
                    <div class="row attempted-button {{task.status}}"></div>
                    <div class = "row">
                        <div class = "col attempted-button-div" ng-if ="task.status == 'none'">
                            <!--a href="#" >Attempt</a-->
                            <a   nav-direction="forward" ng-click="attempt()">
                                Attempt
                            </a>
                        </div>
                        <div class = "col attempted-button-div" ng-if="task.status == 'attempt'">
                            <!--a href="#" >Attempt</a-->
                            <a  nav-direction="forward" ng-click="attempt()">
                                Attempt
                            </a>
                        </div>
                        <div class = "col delegate-button-div" ng-if="task.status == 'attempt'">
                            <a href="#/tab/delegate/{{task.id}}">Delegate</a>
                        </div>
                        <div class = "col delegate-button-div" ng-if="task.status == 'none'">
                            <a href="#/tab/delegate/{{task.id}}">Delegate</a>
                        </div>
                        <div class = "col delegate-button-div" ng-if="task.status == 'delegate'">
                            <a href="#/tab/delegate/{{task.id}}" disable>Delegate</a>
                        </div>
                        <div class = "col attempted-button-div" ng-if="task.status == 'done'">
                            <a href="#" disable>Attempt</a>
                        </div>
                        <div class = "col delegate-button-div" ng-if="task.status == 'delegate'">
                            <a href="#/tab/delegate/{{task.id}}" disable>Delegate</a>
                        </div>

                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
