<div class="bar bar-header bar-dark"><ion-view view-title="{{task.profession}} Connections"></div>
<ion-content>
    <ion-list can-swipe="false">
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="connection in connections" type="item-text-wrap" ng-click="delegateTask(task, connection, user)" href="#">
            <img ng-src="{{connection.user.face}}">
            <h2>{{connection.user.name}}</h2>
            <div class="row {{connection.user.profession}}"><p>{{connection.user.profession}}</p></div>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>
