<div class="bar bar-header bar-dark"><ion-view view-title="Challenges"></div>
<ion-content class="padding">
    <a  class = "challenge-card" ng-repeat="challenge in challenges" href="#/tab/chal/{{challenge.challenge.id}}">
    <div class="list card" >
        <div class="item item-divider">
            <h2>{{challenge.challenge.name}}</h2>
            <div class = "{{challenge.statusSlug}}">
                <p>{{challenge.status}}</p>
            </div>
        </div>
        <div class="item item-body">
                <div class = "row">
                    <div  ng-repeat = "profession in challenge.challenge.professions" class = "col-25 {{profession}}"><img ng-src="images/{{profession}}-icon.png" height= "34" width= "34"/><p>{{profession}}</p>
                    </div>
                </div>
         </div>
    </div></a>
</ion-content>
</ion-view>

