<div class="bar bar-header bar-dark"><ion-view view-title="Connections"></div>
    <ion-content>
        <ion-list can-swipe="false">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="connection in connections" type="item-text-wrap" href="#">
                <img ng-src="{{connection.user.face}}">
                <h2>{{connection.user.name}}</h2>
                <div class="row {{connection.user.profession}}"><p>{{connection.user.profession}}</p></div>
                <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
                <div class = "row">

                <a class="button item accept-connection" href="#">
                    Accept
                </a>

                <a class="button item decline-connection" href="#">
                    Decline
                </a></div>
                <ion-option-button class="ion-ios-close-empty" ng-click="">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
