<ion-view view-title="Tasks">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="elem in tasks" type="item-text-wrap" href="#/tab/tasks/{{elem.userTask.id}}">

                <img ng-src="{{elem.assigner.face}}">
                <h3> <div id="user_name">{{elem.assigner.name}}</div> has assigned you to <div id="task_name">{{elem.task.name}}</div> for their challenge <h2><div id="challenge_name">{{elem.challenge.name}}</h2></h3>

                <i class="icon ion-chevron-right icon-accessory"></i>

                <ion-option-button class="button-assertive" ng-click="delete(elem.userTask)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
