<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Resume">
    <ion-content class="padding">
        <div class="row">
            <div class='resume-pic'>
              <img class = "padding" ng-src="{{user.face}}" width="243">
            </div>
      </div>
      <div class="resume-row">
            <div class = 'resume-userInfo'>
              <h2>{{user.name}}</h2>
              <h3>{{user.profession}}</h3>
            </div>
        </div>

        <div class="resume-row">
            <h2>Skills</h2>
        </div>
        <div class = "resume-row" ng-repeat="skill in skills">
            <div class = "col">
                {{skill.skill.name}}
            </div>

            <div class="col">
                {{skill.level.level}}
            </div>
        </div>
        <div class="rating">
          <progress value="10" max="100"></progress>
        </div>

    </ion-content>
</ion-view>
