<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-striped tabs-background-light tabs-color-dark">

    <!-- Challenges Tab -->
    <ion-tab title="Challenges" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/chal">
        <ion-nav-view name="tab-chal"></ion-nav-view>
    </ion-tab>
    
  <!-- Dashboard Tab -->
  <!--ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab-->
    <!-- Tasks Tab -->
    <ion-tab title="Tasks" icon-off="ion-hammer" icon-on="ion-hammer" href="#/tab/tasks">
        <ion-nav-view name="tab-tasks"></ion-nav-view>
    </ion-tab>


    <!-- Connections Tab -->
    <ion-tab title="Connections" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/connections">
        <ion-nav-view name="tab-connections"></ion-nav-view>
    </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Resume" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/resume">
    <ion-nav-view name="tab-resume"></ion-nav-view>
  </ion-tab>


</ion-tabs>
