<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{task.name}}">
    <ion-content class="padding">

        <p>{{task.description}}

        <h5>Do you want to work on this task? </h5>
        <form name="taskForm" novalidate="" ng-submit="answer(taskForm)">


        <button class="button button-full button-negative" type="resign"  nav-direction="forward" ng-click="yes()">
            Attempt
        </button>
        <button class="button button-full button-positive" type="submit"  nav-direction="back" ng-click="no()">
            Resign
        </button>
        </form>
        </p>


    </ion-content>
</ion-view>
