<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{task.name}}">
    <ion-content class="padding">

        <p>{{task.description}}

        <form name="taskForm" novalidate="" ng-submit="answer(taskForm)">


            <button class="button button-full button-positive" type="submit"  nav-direction="forward">
                Respond
            </button>
            <button class="button button-full button-negative" type="resign"  nav-direction="back" ng-click="resign()">
                Resign
            </button>
        </form>
        </p>


    </ion-content>
</ion-view>
